#ahgallery {
  margin-left: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 602px;
}
#ahgallery ul.hover_block0, #ahgallery ul.hover_block1, #ahgallery ul.hover_block2 {
  display: block;
  overflow: hidden;
  height: 1%;
  padding-top: 5px;
  padding-left: 5px;
  background: transparent;
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#ahgallery ul.bottom_block {
  padding-bottom: 5px;
}
#ahgallery ul.hover_block0 li.item, #ahgallery ul.hover_block1 li.item, #ahgallery ul.hover_block2 li.item {
  margin-left: 0;
  padding-left: 0;
  list-style:none;
  list-style-position: inside;
  float:left;
  background: transparent;
  width: 199px;
  position: relative;
}
#ahgallery ul.hover_block0 li a.teaser, #ahgallery ul.hover_block1 li a.teaser , #ahgallery ul.hover_block2 li a.teaser{
  display: block;
  position: relative;
  overflow: hidden;
  height: 162px;
  width: 162px;
  padding: 16px;
}
#ahgallery ul.hover_block0 li div.teaser, #ahgallery ul.hover_block1 li div.teaser , #ahgallery ul.hover_block2 li div.teaser {
  display: block;
  position: relative;
  overflow: hidden;
  height: 162px;
  width: 162px;
  padding: 16px;
}
#ahgallery ul.hover_block0 li img.overlay, #ahgallery ul.hover_block1 li img.overlay, #ahgallery ul.hover_block2 li img.overlay {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
