<script type="text/javascript">
  jQuery.noConflict();
  jQuery(document).ready(function($)
  {
          $('#ahgallery ul.hover_block0 li.item').hover(function(){
                  $(this).find('img.overlay').animate({top:'194px'},{queue:false,duration:500});
          }, function(){
                  $(this).find('img.overlay').animate({top:'0px'},{queue:false,duration:500});
          });
          $('#ahgallery ul.hover_block1 li.item').hover(function(){
                  $(this).find('img.overlay').animate({left:'194px'},{queue:false,duration:500});
          }, function(){
                  $(this).find('img.overlay').animate({left:'0px'},{queue:false,duration:500});
          });
  });
</script>
