<div id="jlsidebar">
  <div class="moduletable">
    {% menu side %}

    {% comment %}
    <ul class="menu">

      {% assign url_parts = page.url | split: '/' %}
      {% assign url_parts_size = url_parts | size %}
      <!-- {% assign rm = url_parts | last %} -->
      <!-- {% assign base_url = page.url | replace: rm %} -->
      {{ url_parts | join: '-' }}{{ url_parts_size }}
       <!-- {{ rm }} {{ base_url }} -->
      {% assign pages = site.pages | sort:'menu_order' %}
      {% for item in pages %}
        {% if item.menu_order %}
        {% assign item_url_parts = item.url | split: '/' %}
        {% assign item_url_parts_size = item_url_parts | size %}
        {% if item_url_parts_size <= 2 %}
        <li class="{% if page.url == item.url %}active{% endif %}">
          <a href="{{ site.baseurl }}{{ item.url }}">
            <img src="/images/stories/handbullet.png" align="left" alt="{{ item.title }}" />
            <span>{{ item.title }}</span>
          </a>
          <ul>
          {% for subitem in pages %}
            {% assign subitem_url_parts = subitem.url | split: '/' %}
            <li class="active">
              <a href="{{ page.url }}{{ subitem.link }}">
                <span>{{ subitem.title }}</span>
              </a>
            </li>
          {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endif %}
      {% endfor %}


      old <br>

      {% for item in site.data.sidebar %}
      <li class="{% if page.url == item.link %}active{% endif %}">
        <a href="{{ site.baseurl }}{{ item.link }}">
          <img src="/images/stories/handbullet.png" align="left" alt="{{ item.name }}" />
          <span>{{ item.name }}</span>
        </a>
        {% if page.url == item.link and page.menu %}
        <ul>
        {% for subitem in page.menu %}
          <li class="active">
            <a href="{{ page.url }}{{ subitem.link }}">
              <span>{{ subitem.title }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}

      {% if page.url == '/contact-us/' %}
      <div class="moduletable">
        <p> </p>
        <p><strong>Hands Inc</strong><br>
        The Old Fire Station<br>
        61 Leswin Rd<br>
        London N16 7NX<br>
        <br>
        <strong>Main office:</strong> 0203 051 8626<br>
        <br>
        <a href="mailto:handsinc@handsinc.co.uk">handsinc@handsinc.co.uk</a><br>
        <br>
        Company registration: 6956731<br>
        Charity number: 1147291</p>
      </div>
      {% endif %}
      {% endcomment %}
      
      {% comment %}
      <li class="parent item27">
        <a href="{{ site.baseurl }}/about/">
          <img src="/images/stories/handbullet.png" align="left" alt="aboutus" />
          <span>ABOUT US</span>
        </a>
      </li>
      <li class="parent item2">
        <a href="{{ site.baseurl }}/services">
          <img src="/images/stories/handbullet.png" align="left" alt="services" />
          <span>SERVICES</span>
        </a>
      </li>
      <li class="parent item37">
        <a href="{{ site.baseurl }}/wellbeing-at-work">
          <img src="/images/stories/handbullet.png" align="left" alt="wellbeing-at-work" />
          <span>WELLBEING@WORK</span>
        </a>
      </li>
      {% comment %} <li class="parent item169">
        <a href="/index.php/healthwise-directory">
          <img src="/images/stories/handbullet.png" align="left" alt="healthwise-directory" />
          <span>REPORTS &amp; PUBLICATIONS</span>
        </a>
      </li> {% endcomment %}
      <li class="item41">
        <a href="{{ site.baseurl }}/get-involved">
          <img src="/images/stories/handbullet.png" align="left" alt="get-involved" />
          <span>GET INVOLVED</span>
        </a>
      </li>
      <li class="item63">
        <a href="{{ site.baseurl }}/blog">
          <img src="/images/stories/handbullet.png" align="left" alt="blog" />
          <span>BLOG</span>
        </a>
      </li>
      <li class="item50">
        <a href="{{ site.baseurl }}/gallery">
          <img src="/images/stories/handbullet.png" align="left" alt="gallery" />
          <span>GALLERY</span>
        </a>
      </li>
      <li class="item48">
        <a href="{{ site.baseurl }}/contact/">
          <img src="/images/stories/handbullet.png" align="left" alt="contact-us" />
          <span>CONTACT US</span>
        </a>
      </li>
      {% endcomment %}
    </ul>
  </div>
</div>
