<div id="jlsidebar">
  <div class="moduletable">
    {% menu side %}
    {% if page.url == '/contact-us/' %}
    <div class="moduletable">
      <p> </p>
      <p><strong>Hands Inc</strong><br>
      The Old Fire Station<br>
      61 Leswin Rd<br>
      London N16 7NX<br>
      <br>
      <strong>Main office:</strong> 0203 051 8626<br>
      <br>
      <a href="mailto:handsinc@handsinc.co.uk">handsinc@handsinc.co.uk</a><br>
      <br>
      Company registration: 6956731<br>
      Charity number: 1147291</p>
    </div>
    {% endif %}
    {% if page.url == '/wellbeing-at-work/create-solutions-at-work/' %}
    <div class="moduletable">
      <p><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; width: 218px;"> </span></p>
      <p><span style="font-family: verdana,geneva;"><br /></span></p>
      <p><span style="font-family: verdana,geneva;"><span style="color: #0098eb;"><em style="font-size: 16px;">"The cost of musculoskeletal disorders (MSDs) to employers is significant, with the most substantial cost component being lost time from work."</em></span></span>
      </p>
      <p>Health &amp; Safety Executive (HSE)</p>
      <p><span style="font-family: verdana,geneva;"><br /></span></p>
      <p><span style="font-family: verdana,geneva;"><span style="font-size: 12px; width: 218px;"> </span></span>
      </p>
      <p><span style="font-family: verdana,geneva;"><span style="color: #0098eb;"><em style="font-size: 16px;">"Health promotion programmes can have a positive impact on the workforce. Evaluation studies that examined absenteeism, reported that health promotion measures led to between 12% - 36% reduction in sickness absence. This led to a saving of 34% in absenteeism costs, concluding that every pound spent on promoting health in the workplace could lead to a £2.50 saving for businesses. "</em></span></span>
      </p>
      <p>2004 Health-related &amp; Economic Benefits of workplace Health Promotion and Prevention-Summary of Scientific Evidence
        <br />J Kreis &amp; W Blocker
        <br />
        <br />
      </p>
    </div>
    {% endif %}
  </div>
</div>
