<div id="jlsidebar">
  <div class="moduletable">
    {% menu side %}
    {% if page.url == '/aboutus/' %}
    <div class="moduletable">
      <p><span class="tooltips-link isimg" title="::<strong>Tackle health inequalities by improving access to holistic health activities<br /><br /></strong><span style=&quot;color:#0068CF;font-weight:bold; &quot;>Empower individuals, groups and organisations to take proactive and sustainable steps towards a healthy constitution </span><strong><br /><br />Raise awareness and encourage debate about holistic health activities and their intrinsic benefits<br /> <br /></strong><span style=&quot;color:#0068CF;font-weight:bold; &quot;>Forge collaborative partnerships with other professionals and organisations to create innovative, responsive and integrated wellbeing services</span><strong><br />Deliver a quality standard of care by constantly evaluating and  monitoring our services</strong>"><img
        src="{{ site.baseurl }}/images/stories/keyaimsheading.png" border="0" alt="key aims" title="our key aims" /></span>
      </p>
      <p><img src="{{ site.baseurl }}/images/stories/paperchain_1.png" border="0" style="margin-top: -10px;" /></p>
    </div>
	  {% endif %}
    {% if page.url == '/contact-us/' %}
    <div class="moduletable">
      <p> </p>
      <p><strong>Hands Inc</strong><br>
      The Old Fire Station<br>
      61 Leswin Rd<br>
      Stoke Newington<br>
      London N16 7NX<br>
      <br>
      <strong>Main office:</strong> 0203 051 8626<br>
      <br>
      <a href="mailto:handsinc@handsinc.co.uk">handsinc@handsinc.co.uk</a><br>
      <br>
      Company registration: 6956731<br>
      Charity number: 1147291</p>
    </div>
    {% endif %}
    {% if page.url == '/services/' %}
    <p>
      <br />We are members of:
      <br /><img src="/images/stories/embodylogo.jpg" border="0" alt="embody" title="embody" width="70" height="87" style="border: 0pt none;" /><img src="/images/stories/cthalogo.jpg" border="0" alt="cthalogo" title="complimentary therapists association" width="102"
      height="98" style="border: 0pt none;" /></p>
    <p>
      <a href="http://www.acmac.net/" target="_blank" title="ACMAC"><img src="/images/stories/acmac_logo_300 1 jpg version.jpg" border="0" width="169" height="45" /></a>
    </p>
    {% endif %}
    {% if page.url == '/services/complementary-therapies/low-cost-clinics/' %}
    <div class="moduletable">
      <p> </p>
      <p><span style="font-family: verdana,geneva;"><span style="font-size: 16px;"><span style="color: #0098eb;"><em>"I am delighted to have been able to receive acupuncture from Hands Inc's Acupuncture clinic for so long. It is very important to me that it is a low cost clinic or I would not have been able to keep coming.The acupuncture has made a remarkable difference to my life."</em></span></span>
        </span>
      </p>
      <p><strong>Female Massage Client<br /></strong></p>
      <p><span style="font-family: verdana,geneva;"><span style="font-size: 16px;"><span style="color: #0098eb;"><em><br />"Acupuncture makes me feel relaxed, a lot less anxious and I'm able to sleep better. I suffer from seizures and the acupuncture makes them a lot less. I feel the low cost clinic is so important to aid someone's independence. It makes it affordable so you can take control of your own well being and make an active decision to help yourself."</em></span></span>
        </span>
      </p>
      <p><strong>Acupuncture client. Age 68<br /></strong></p>
      <p><span style="font-family: verdana,geneva;"><span style="font-size: 16px;"><span style="color: #0098eb;"><em><br />"I didn't really know what to expect but the therapist made me feel at ease. The therapist focused on specific areas of tension with absolute mastery. She has been able to alleviate the pain, I feel more relaxed and range of motion as really improved. My swimming has really improved. I've been about 5 times now, I highly recommend the service."</em></span></span>
        </span>
      </p>
      <p><strong>Jasper, Massage client</strong></p>
      <p> </p>
    </div>
    {% endif %}
    {% if page.url == '/get-involved/' %}
    <br>
    <p><span style="font-family: georgia,palatino;"><span style="color: #0098eb;"><em style="font-size: 18px; line-height: 26px;">Why not give it a go to help<br />make a difference.</em></span></span>
    </p>
    <div class="moduletable">
      <p> </p>
      <p><strong>Contact:</strong>
        <br />020 3051 8626
        <br /><a href="mailto:handsinc@handsinc.co.uk">handsinc@handsinc.co.uk</a></p>
    </div>
    {% endif %}

    {% if page.url == '/wellbeing-at-work/' %}
    <div class="moduletable">
      <p><span style="font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; width: 218px;"> </span></p>
      <p><span style="font-family: verdana,geneva;"><br /></span></p>
      <p><span style="font-family: verdana,geneva;"><span style="color: #0098eb;"><em style="font-size: 16px;">"The cost of musculoskeletal disorders (MSDs) to employers is significant, with the most substantial cost component being lost time from work."</em></span></span>
      </p>
      <p>Health &amp; Safety Executive (HSE)</p>
      <p><span style="font-family: verdana,geneva;"><br /></span></p>
      <p><span style="font-family: verdana,geneva;"><span style="font-size: 12px; width: 218px;"> </span></span>
      </p>
      <p><span style="font-family: verdana,geneva;"><span style="color: #0098eb;"><em style="font-size: 16px;">"Health promotion programmes can have a positive impact on the workforce. Evaluation studies that examined absenteeism, reported that health promotion measures led to between 12% - 36% reduction in sickness absence. This led to a saving of 34% in absenteeism costs, concluding that every pound spent on promoting health in the workplace could lead to a £2.50 saving for businesses. "</em></span></span>
      </p>
      <p>2004 Health-related &amp; Economic Benefits of workplace Health Promotion and Prevention-Summary of Scientific Evidence
        <br />J Kreis &amp; W Blocker
        <br />
        <br />
      </p>
    </div>
    {% endif %}
  </div>
</div>
